In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
Data = pd.read_csv('/content/combined_file.csv')

In [ ]:
Data.columns

Index(['Unnamed: 0', 'Date', 'Address', 'State', 'County', 'City', 'O3 Mean',
       'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'CO Mean',
       'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI', 'SO2 Mean',
       'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'name', 'tempmax',
       'tempmin', 'temp', 'feelslikemax', 'feelslikemin', 'feelslike', 'dew',
       'humidity', 'precip', 'precipprob', 'precipcover', 'preciptype', 'snow',
       'snowdepth', 'windgust', 'windspeed', 'winddir', 'sealevelpressure',
       'cloudcover', 'visibility', 'solarradiation', 'solarenergy', 'uvindex',
       'severerisk', 'sunrise', 'sunset', 'moonphase', 'conditions',
       'description', 'icon', 'stations'],
      dtype='object')

In [ ]:
Data.head()

,Unnamed: 0,Date,Address,State,County,City,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,0.0,2000-01-01,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,0.040,10.0,37.0,...,NaN,NaN,NaN,2000-01-01T07:18:06,2000-01-01T16:30:12,0.83,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72508799999,72504094702,72508014740"
1,348.0,2000-01-01,2857 N MILLER RD-S SCOTTSDALE STN,Arizona,Maricopa,Scottsdale,0.021059,0.039,9.0,36.0,...,NaN,NaN,NaN,2000-01-01T07:18:06,2000-01-01T16:30:12,0.83,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72508799999,72504094702,72508014740"
2,533.0,2000-01-01,"1237 S. BEVERLY , TUCSON",Arizona,Pima,Tucson,0.020824,0.039,9.0,36.0,...,NaN,NaN,NaN,2000-01-01T07:18:06,2000-01-01T16:30:12,0.83,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72508799999,72504094702,72508014740"
3,880.0,2000-01-01,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,0.019412,0.029,13.0,27.0,...,NaN,NaN,NaN,2000-01-01T07:18:06,2000-01-01T16:30:12,0.83,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72508799999,72504094702,72508014740"
4,1243.0,2000-01-01,5551 BETHEL ISLAND RD,California,Contra Costa,Bethel Island,0.019059,0.022,15.0,20.0,...,NaN,NaN,NaN,2000-01-01T07:18:06,2000-01-01T16:30:12,0.83,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72508799999,72504094702,72508014740"

In [ ]:
Data.tail(
)

,Unnamed: 0,Date,Address,State,County,City,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
135222,118843.0,2005-10-26,"583 W. 10TH ST., PITTSBURG",California,Contra Costa,Pittsburg,0.024118,0.027,20.0,25.0,...,NaN,NaN,NaN,2005-10-26T07:15:51,2005-10-26T17:52:47,0.79,"Rain, Partially cloudy",Partly cloudy throughout the day with rain cle...,rain,"74491514775,72508714752,72508014740"
135223,119195.0,2005-10-26,"1029 ETHEL ST, CALEXICO HIGH SCHOOL",California,Imperial,Calexico,0.021235,0.046,9.0,43.0,...,NaN,NaN,NaN,2005-10-26T07:15:51,2005-10-26T17:52:47,0.79,"Rain, Partially cloudy",Partly cloudy throughout the day with rain cle...,rain,"74491514775,72508714752,72508014740"
135224,119555.0,2005-10-26,"228 W. PALM AVE., BURBANK",California,Los Angeles,Burbank,0.007824,0.016,10.0,15.0,...,NaN,NaN,NaN,2005-10-26T07:15:51,2005-10-26T17:52:47,0.79,"Rain, Partially cloudy",Partly cloudy throughout the day with rain cle...,rain,"74491514775,72508714752,72508014740"
135225,119910.0,2005-10-26,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,0.008353,0.014,10.0,13.0,...,NaN,NaN,NaN,2005-10-26T07:15:51,2005-10-26T17:52:47,0.79,"Rain, Partially cloudy",Partly cloudy throughout the day with rain cle...,rain,"74491514775,72508714752,72508014740"
135226,120275.0,2005-10-26,"3648 N. LONG BEACH BLVD., LONG BEACH",California,Los Angeles,Long Beach,0.017353,0.027,21.0,25.0,...,NaN,NaN,NaN,2005-10-26T07:15:51,2005-10-26T17:52:47,0.79,"Rain, Partially cloudy",Partly cloudy thro,NaN,NaN

In [ ]:
Data.shape

(135227, 54)

In [ ]:
Data.isnull().sum()

Unnamed: 0                0
Date                      0
Address                   0
State                     0
County                    0
City                      0
O3 Mean                   0
O3 1st Max Value          0
O3 1st Max Hour           0
O3 AQI                    0
CO Mean                   0
CO 1st Max Value          0
CO 1st Max Hour           0
CO AQI                    0
SO2 Mean                  0
SO2 1st Max Value         0
SO2 1st Max Hour          0
SO2 AQI                   0
NO2 Mean                  0
NO2 1st Max Value         0
NO2 1st Max Hour          0
NO2 AQI                   0
name                      0
tempmax                   0
tempmin                   0
temp                      0
feelslikemax              0
feelslikemin              0
feelslike                 0
dew                       0
humidity                  0
precip                    0
precipprob                0
precipcover               0
preciptype            72270
snow                  23180
snowdepth             23180
windgust             131499
windspeed                 0
winddir                   0
sealevelpressure          0
cloudcover                0
visibility                0
solarradiation       135227
solarenergy          135227
uvindex              135227
severerisk           135227
sunrise                   0
sunset                    0
moonphase                 0
conditions                0
description               0
icon                      1
stations                  1
dtype: int64

In [ ]:
Data.info

<bound method DataFrame.info of         Unnamed: 0        Date                                  Address  \
0              0.0  2000-01-01  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN
1            348.0  2000-01-01        2857 N MILLER RD-S SCOTTSDALE STN
2            533.0  2000-01-01                 1237 S. BEVERLY , TUCSON
3            880.0  2000-01-01                   2956-A TREAT BOULEVARD
4           1243.0  2000-01-01                    5551 BETHEL ISLAND RD
...            ...         ...                                      ...
135222    118843.0  2005-10-26               583 W. 10TH ST., PITTSBURG
135223    119195.0  2005-10-26      1029 ETHEL ST, CALEXICO HIGH SCHOOL
135224    119555.0  2005-10-26                228 W. PALM AVE., BURBANK
135225    119910.0  2005-10-26              1630 N MAIN ST, LOS ANGELES
135226    120275.0  2005-10-26     3648 N. LONG BEACH BLVD., LONG BEACH

             State        County           City   O3 Mean  O3 1st Max Value  \
0          Arizona      Maricopa        Phoenix  0.019765             0.040
1          Arizona      Maricopa     Scottsdale  0.021059             0.039
2          Arizona          Pima         Tucson  0.020824             0.039
3       California  Contra Costa        Concord  0.019412             0.029
4       California  Contra Costa  Bethel Island  0.019059             0.022
...            ...           ...            ...       ...               ...
135222  California  Contra Costa      Pittsburg  0.024118             0.027
135223  California      Imperial       Calexico  0.021235             0.046
135224  California   Los Angeles        Burbank  0.007824             0.016
135225  California   Los Angeles    Los Angeles  0.008353             0.014
135226  California   Los Angeles     Long Beach  0.017353             0.027

        O3 1st Max Hour  O3 AQI  ...  solarenergy  uvindex  severerisk  \
0                  10.0    37.0  ...          NaN      NaN         NaN
1                   9.0    36.0  ...          NaN      NaN         NaN
2                   9.0    36.0  ...          NaN      NaN         NaN
3                  13.0    27.0  ...          NaN      NaN         NaN
4                  15.0    20.0  ...          NaN      NaN         NaN
...                 ...     ...  ...          ...      ...         ...
135222             20.0    25.0  ...          NaN      NaN         NaN
135223              9.0    43.0  ...          NaN      NaN         NaN
135224             10.0    15.0  ...          NaN      NaN         NaN
135225             10.0    13.0  ...          NaN      NaN         NaN
135226             21.0    25.0  ...          NaN      NaN         NaN

                    sunrise               sunset  moonphase  \
0       2000-01-01T07:18:06  2000-01-01T16:30:12       0.83
1       2000-01-01T07:18:06  2000-01-01T16:30:12       0.83
2       2000-01-01T07:18:06  2000-01-01T16:30:12       0.83
3       2000-01-01T07:18:06  2000-01-01T16:30:12       0.83
4       2000-01-01T07:18:06  2000-01-01T16:30:12       0.83
...                     ...                  ...        ...
135222  2005-10-26T07:15:51  2005-10-26T17:52:47       0.79
135223  2005-10-26T07:15:51  2005-10-26T17:52:47       0.79
135224  2005-10-26T07:15:51  2005-10-26T17:52:47       0.79
135225  2005-10-26T07:15:51  2005-10-26T17:52:47       0.79
135226  2005-10-26T07:15:51  2005-10-26T17:52:47       0.79

                    conditions  \
0             Partially cloudy
1             Partially cloudy
2             Partially cloudy
3             Partially cloudy
4             Partially cloudy
...                        ...
135222  Rain, Partially cloudy
135223  Rain, Partially cloudy
135224  Rain, Partially cloudy
135225  Rain, Partially cloudy
135226  Rain, Partially cloudy

                                              description               icon  \
0                       Partly cloudy throughout the day.  partly-cloudy-day
1                       Partly cloudy throughout the day.  partly-cloudy-day
2                       Partly cloudy throughout the day.  partly-cloudy-day
3                       Partly cloudy throughout the day.  partly-cloudy-day
4                       Partly cloudy throughout the day.  partly-cloudy-day
...                                                   ...                ...
135222  Partly cloudy throughout the day with rain cle...               rain
135223  Partly cloudy throughout the day with rain cle...               rain
135224  Partly cloudy throughout the day with rain cle...               rain
135225  Partly cloudy throughout the day with rain cle...               rain
135226                                 Partly cloudy thro                NaN

                                   stations
0       72508799999,72504094702,72508014740
1       72508799999,72504094702,72508014740
2       72508799999,72504094702,72508014740
3       72508799999,72504094702,72508014740
4       72508799999,72504094702,72508014740
...                                     ...
135222  74491514775,72508714752,72508014740
135223  74491514775,72508714752,72508014740
135224  74491514775,72508714752,72508014740
135225  74491514775,72508714752,72508014740
135226                                  NaN

[135227 rows x 54 columns]>

In [ ]:
Data.describe

<bound method NDFrame.describe of         Unnamed: 0        Date                                  Address  \
0              0.0  2000-01-01  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN
1            348.0  2000-01-01        2857 N MILLER RD-S SCOTTSDALE STN
2            533.0  2000-01-01                 1237 S. BEVERLY , TUCSON
3            880.0  2000-01-01                   2956-A TREAT BOULEVARD
4           1243.0  2000-01-01                    5551 BETHEL ISLAND RD
...            ...         ...                                      ...
135222    118843.0  2005-10-26               583 W. 10TH ST., PITTSBURG
135223    119195.0  2005-10-26      1029 ETHEL ST, CALEXICO HIGH SCHOOL
135224    119555.0  2005-10-26                228 W. PALM AVE., BURBANK
135225    119910.0  2005-10-26              1630 N MAIN ST, LOS ANGELES
135226    120275.0  2005-10-26     3648 N. LONG BEACH BLVD., LONG BEACH

             State        County           City   O3 Mean  O3 1st Max Value  \
0          Arizona      Maricopa        Phoenix  0.019765             0.040
1          Arizona      Maricopa     Scottsdale  0.021059             0.039
2          Arizona          Pima         Tucson  0.020824             0.039
3       California  Contra Costa        Concord  0.019412             0.029
4       California  Contra Costa  Bethel Island  0.019059             0.022
...            ...           ...            ...       ...               ...
135222  California  Contra Costa      Pittsburg  0.024118             0.027
135223  California      Imperial       Calexico  0.021235             0.046
135224  California   Los Angeles        Burbank  0.007824             0.016
135225  California   Los Angeles    Los Angeles  0.008353             0.014
135226  California   Los Angeles     Long Beach  0.017353             0.027

        O3 1st Max Hour  O3 AQI  ...  solarenergy  uvindex  severerisk  \
0                  10.0    37.0  ...          NaN      NaN         NaN
1                   9.0    36.0  ...          NaN      NaN         NaN
2                   9.0    36.0  ...          NaN      NaN         NaN
3                  13.0    27.0  ...          NaN      NaN         NaN
4                  15.0    20.0  ...          NaN      NaN         NaN
...                 ...     ...  ...          ...      ...         ...
135222             20.0    25.0  ...          NaN      NaN         NaN
135223              9.0    43.0  ...          NaN      NaN         NaN
135224             10.0    15.0  ...          NaN      NaN         NaN
135225             10.0    13.0  ...          NaN      NaN         NaN
135226             21.0    25.0  ...          NaN      NaN         NaN

                    sunrise               sunset  moonphase  \
0       2000-01-01T07:18:06  2000-01-01T16:30:12       0.83
1       2000-01-01T07:18:06  2000-01-01T16:30:12       0.83
2       2000-01-01T07:18:06  2000-01-01T16:30:12       0.83
3       2000-01-01T07:18:06  2000-01-01T16:30:12       0.83
4       2000-01-01T07:18:06  2000-01-01T16:30:12       0.83
...                     ...                  ...        ...
135222  2005-10-26T07:15:51  2005-10-26T17:52:47       0.79
135223  2005-10-26T07:15:51  2005-10-26T17:52:47       0.79
135224  2005-10-26T07:15:51  2005-10-26T17:52:47       0.79
135225  2005-10-26T07:15:51  2005-10-26T17:52:47       0.79
135226  2005-10-26T07:15:51  2005-10-26T17:52:47       0.79

                    conditions  \
0             Partially cloudy
1             Partially cloudy
2             Partially cloudy
3             Partially cloudy
4             Partially cloudy
...                        ...
135222  Rain, Partially cloudy
135223  Rain, Partially cloudy
135224  Rain, Partially cloudy
135225  Rain, Partially cloudy
135226  Rain, Partially cloudy

                                              description               icon  \
0                       Partly cloudy throughout the day.  partly-cloudy-day
1                       Partly cloudy throughout the day.  partly-cloudy-day
2                       Partly cloudy throughout the day.  partly-cloudy-day
3                       Partly cloudy throughout the day.  partly-cloudy-day
4                       Partly cloudy throughout the day.  partly-cloudy-day
...                                                   ...                ...
135222  Partly cloudy throughout the day with rain cle...               rain
135223  Partly cloudy throughout the day with rain cle...               rain
135224  Partly cloudy throughout the day with rain cle...               rain
135225  Partly cloudy throughout the day with rain cle...               rain
135226                                 Partly cloudy thro                NaN

                                   stations
0       72508799999,72504094702,72508014740
1       72508799999,72504094702,72508014740
2       72508799999,72504094702,72508014740
3       72508799999,72504094702,72508014740
4       72508799999,72504094702,72508014740
...                                     ...
135222  74491514775,72508714752,72508014740
135223  74491514775,72508714752,72508014740
135224  74491514775,72508714752,72508014740
135225  74491514775,72508714752,72508014740
135226                                  NaN

[135227 rows x 54 columns]>